* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  
}

.app__header {
  position: sticky;
  top: 0; 
  z-index: 1;
  background-color: white; 
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__signup {
  display: flex !important; 
  text-align: center !important;
  flex-direction: column !important; 
}

.app__headerImage{
  object-fit: contain;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
  
}

.app__createPost {
  margin-top: 10px !important;
  margin-left: 605px !important;
  
}
